table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
}

.img-go{
width: 100px;
margin-left: 50px;
}

h3{
margin: 0;
text-align: center;
padding: 10px;
background-color: #333;
color: white;
}

h2{
  margin: 0;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  }
.fecha-title{
margin: 0;
padding: 5px;
background-color: #333;
color: white;
}

td {
  padding: 5px;
}

.columna1 {
  width: 25%;
}

.columna2 {
  width: 30%;
}

.columna3 {
  background: cornflowerblue;
  width: 25%;
  vertical-align: top;
}

.columna3 div {
 
}

.columna3 h2 {
  margin-bottom: 2px;
}

.columna3 p {
  margin: 0;
}

/*fecha*/
.fecha-td{
  border: solid 4px cornflowerblue;
  background-color: #fff;
}

/* checkbox */


.table-check {
  background-color: #cdd2cb;
  /*#cdd2cb*/
  padding: 5px;
  table-layout: fixed;
  width: 100%;
}

.table-check td {
  width: 33.33%;
  vertical-align: top;
}

.checkbox-item {
  margin-bottom: 10px;
  white-space: nowrap;
}

input[type="checkbox"] {
  width: 50px;
  height: 23px;
  margin-right: 0px;
  margin-bottom: -10px;
  appearance: none;
  border: 1px solid #000;
background-color: #fff;
}

input[type="checkbox"]:checked {
  background-color: #000;
}
input[type="checkbox"]::before {
  display: none;
}
/*informacion del usuario*/

.info {
  
}

.info-th {
  
}

.info-td {
  
}

.input-info[type="text"] {
  border: none;
  box-shadow: 0px 2px 0px 0px black;
  
  width: 100%;
}

/*auto*/
.title-auto{
  width: 245px;
  padding: 3px 10px;
  background-color: #333;
  color: white;
  margin: 10px 0;
}
.auto {
  width: 100%;
  border-collapse: collapse;
}
.auto-th-c {
  padding: 0 40px;
  background-color: #f2f2f2;
}
.auto-td {
  padding: 10px;
  text-align: center;
  
}

.auto-td-img{
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.auto-th {
  padding: 10px 30px;
  background-color: #f2f2f2;
}

.car-image {
  width: 100px;
  height: auto;
}

/*border del nombre*/
.container {
  width: 300px;
}

.label {
  float: left;
  width: 80px;
}

.text {
  overflow: hidden;
}

.text::after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  margin-top: 5px;
}

/*contenedor de parrafo*/
.title-orden{
  width: 170px;
  padding: 3px 10px;
  background-color: #333;
  color: white;
  margin: 5px 0;
}
.container-parrafo {
  
  margin: 0 auto;
  border: 8px solid cornflowerblue;
  border-radius: 5%;
  padding: 20px;
}

.paragraph {
  overflow: hidden;
}

.paragraph::after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  margin-top: 15px;
}

.par{
  margin-bottom: -10px;
}
/*para las firmas*/

.firma{
  margin-top: 70px;
}