table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0px;
}

.img-go{
width: 100px;
margin-left: 50px;
}

h3{
margin: 0;
text-align: center;
padding: 10px;
/*background-color: #333;
color: white;*/
}
h1{
  margin: 0;
  text-align: center;
}
h2{
  margin: 0;
  text-align: center;
  padding: 10px;
  }


td {
  padding: 5px;
}

.columna1 {
  width: 25%;
}

.columna2 {
  width: 30%;
  border: solid 2px black;
}

.columna3 {
  /*background: cornflowerblue;*/
  width: 25%;
  vertical-align: top;
  border: solid 2px black;
}

.columna3 div {
 
}

.columna3 h2 {
  margin-bottom: 2px;
}

.columna3 p {
  margin: 0;
}

/*fecha*/
.fecha-title{
  margin: 0;
  padding: 5px;
  border: solid 2px black;

}
.fecha-td{
  /*border: solid 4px cornflowerblue;*/

  background-color: #fff;
}

/* checkbox */


.table-check {
  background-color: #cdd2cb;
  /*#cdd2cb*/
  padding: 5px;
  table-layout: fixed;
  width: 100%;
}

.table-check td {
  width: 33.33%;
  vertical-align: top;
}

.checkbox-item {
  margin-bottom: 10px;
  white-space: nowrap;
}

/*input[type="checkbox"] {
  display: none;
  transform: scale(1.5);
}*/
.checkbox-item input[type="checkbox"] {
  display: none; /* Oculta el checkbox original */
}

.checkbox-item .checkmark {
  display: none; /* Oculta la capa adicional del check original por defecto */
}

.checkbox-item input[type="checkbox"]:checked + .custom-checkbox-label .checkmark {
  display: inline-block; /* Muestra la capa adicional del check original cuando el checkbox está marcado */
  /* Estilos adicionales para el checkmark cuando está marcado */
  transform: scale(2);
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: -5px;
  text-align: center;
}

/* Estilo del checkbox personalizado */
.custom-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox {
  
  display: inline-block;
  width: 22px;
  height: 20px;
  border: 2px solid #000;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  margin-right: 6px;
  font-size: 14px;
  margin-bottom: -5px;
}

/* Estilo del checkbox cuando está marcado (checked) */
input[type="checkbox"]:checked + .custom-checkbox-label .custom-checkbox {
  display: none;
  background-color: lavender ; /* Cambia el color de fondo cuando está marcado */
  color: #333; /* Cambia el color del texto cuando está marcado */
}

/* Estilo del checkbox cuando no está marcado (unchecked) */
input[type="checkbox"]:not(:checked) + .custom-checkbox-label .custom-checkbox {
  
  background-color: #ff0000; /* Cambia el color de fondo cuando no está marcado */
  color: #fff; /* Cambia el color del texto cuando no está marcado */
}



/*input[type="checkbox"] {
  width: 50px;
  height: 23px;
  margin-right: 0px;
  margin-bottom: -10px;
  appearance: none;
  border: 1px solid #000;
background-color: #fff;
}

input[type="checkbox"]:checked {
  background-color: #000;
}
input[type="checkbox"]::before {
  display: none;
}*/
/*informacion del usuario*/

.info {
  
}

.info-th {
  
}

.info-td {
  
}

.input-info[type="text"] {
  border: none;
  box-shadow: 0px 2px 0px 0px black;
  
  width: 100%;
}

/*auto*/
.title-auto{
  width: 245px;
  padding: 3px 10px;
  margin: 10px 0;
}
.auto {
  width: 100%;
  border-collapse: collapse;
}
.auto-th-c {
  padding: 0 40px;
  background-color: #f2f2f2;
}
.auto-td {
  padding: 10px;
  text-align: center;
  
}

.auto-td-img{
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.auto-th {
  padding: 10px 30px;
  background-color: #f2f2f2;
}

.car-image {
  width: 100px;
  height: auto;
}

/*border del nombre*/
.container {
  width: 300px;
}

.label {
  float: left;
  width: 80px;
}

.text {
  overflow: hidden;
}

.text::after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  margin-top: 5px;
}

/*contenedor de parrafo*/
.title-orden{
  width: 170px;
  padding: 3px 10px;
  margin: 5px 0;
}
.container-parrafo {
  
  margin: 0 auto;
  border: 8px solid cornflowerblue;
  border-radius: 5%;
  padding: 20px;
}

.paragraph {
  overflow: hidden;
}

.paragraph::after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  margin-top: 15px;
}

.par{
  margin-bottom: -10px;
}
/*para las firmas*/

.firma{
  margin-top: 70px;
}